*.class
.git
.settings
.project

#bloomfilter
bloomfilter/*.class
bloomfilter/.settings
bloomfilter/target
bloomfilter/.classpath
bloomfilter/.project

#bloomfilter-client
bloomfilter-client/*.class
bloomfilter-client/.settings
bloomfilter-client/target
bloomfilter-client/.classpath
bloomfilter-client/.project

#bloomfilter-common
bloomfilter-common/*.class
bloomfilter-common/.settings
bloomfilter-common/target
bloomfilter-common/.classpath
bloomfilter-common/.project

#bloomfilter-server
bloomfilter-server/*.class
bloomfilter-server/.settings
bloomfilter-server/target
bloomfilter-server/.classpath
bloomfilter-server/.project

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
